@import './../../../SCSS/variables.scss';
.wrapper_profileInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profileInfoSetting {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.mobileButton {
  width: 24px;
  height: 24px;
  display: none;
}
.userinfo {
  color: $white;
  font-size: $fz24-12;
  margin-bottom: 20px;
}
.userName {
  font-size: $fz18-12;
}
.avatarContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-self: center;
}
.avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 480px) and (max-width: 1200px) {
  .mobileButton {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    border: none;
    align-self: end;
    margin-bottom: 20px;
  }
  .logOut,
  .settingsProfile {
    background-color: inherit;
    border: none;
    width: 24px;
    height: 24px;
  }

  .userinfo {
    font-weight: 700;
    margin-bottom: 4px;
  }
  .birthDateTitle,
  .birthDate,
  .userName {
    font-weight: 400;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .wrapper_profileInfo {
    width: 80%;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .avatarContainer {
    width: 66px;
    height: 66px;
    margin-right: 10px;
    align-self: auto;
  }
  .avatar {
  }
  .profileInfoSetting {
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
  }
  .mobileButton {
    width: 100%;
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    border: none;
    align-self: end;
    margin-right: 10px;
  }
  .logOut,
  .settingsProfile {
    background-color: inherit;
    border: none;
    width: 24px;
    height: 24px;
  }
  .mobileUserInfo {
  }

  .userinfo {
    font-weight: 700;
    margin-bottom: 0;
  }

  .userName,
  .birthDateTitle {
    display: none;
  }
}
