@import './../../../SCSS/variables.scss';
.wrapper {
  background-color: $white;
  padding: 40px;
  min-height: calc(100vh - 190px);
  border: 1px solid $grey-bg;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  width: 100%;
}
.eventTitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
}
.card {
  width: 792px;
  height: 342px;
}
.imageCard {
  width: 100%;
}
@media (min-width: 480px) and (max-width: 1200px) {
  .wrapper {
    width: 67vw;
    min-height: calc(100vh - 108px);
    padding: 40px 20px;
  }
  .list {
    gap: 16px;
    list-style: none;
    width: 100%;
  }
  .eventTitle {
    font-size: 12px;
    margin-bottom: 16px;
  }
  .card {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .wrapper {
    width: 100vw;
    height: calc(100vh - 126px);
    padding: 40px 20px;
    overflow-y: scroll;
  }
  .list {
    gap: 16px;
    list-style: none;
    width: 100%;
  }
  .eventTitle {
    font-size: 12px;
    margin-bottom: 16px;
  }
  .card {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
