@import './../../../SCSS/variables.scss';
.avatarBlock {
  width: 100%;
  height: auto;
}
.avatarGrid {
  width: 100%;
  display: flex;
  gap: 20px;
}
.avatarWrapper {
  display: flex;
  width: clamp(4rem, 13.523vw + 1.295rem, 11.438rem);
  height: clamp(5.25rem, 14.091vw + 2.432rem, 13rem);
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.3);
  transition: border 0.3s;
}
.avatarWrapper.selected {
  border: 1px solid $yellow;
}
.avatarOption {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.avatarImage {
  width: 80%;
  height: auto;
  border-radius: 30px;
}
.avatarImage.notActive {
  width: 80%;
  height: auto;
  border-radius: 30px;
  cursor: auto;
  filter: grayscale(100%);
}
.avatarRank {
  margin-top: 5px;
  font-size: $fz16-9;
  color: #ffffff80;
}
.avatarRank.selected {
  color: $yellow;
}
@media (min-width: 320px) and (max-width: 1200px) {
  .avatarBlock {
    width: 100%;
  }
  .avatarGrid {
    overflow-x: auto;
  }
}
