@import './../../../SCSS/variables.scss';
.wrapperRecomedation {
  background-color: $white;
  height: calc(100vh - 190px);
  border: 1px solid $grey-bg;
  padding: 40px;
  overflow-y: auto;
}
.title {
  font-size: $fz18-12;
  color: $grey-bg;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (min-width: 480px) and (max-width: 1200px) {
  .wrapperRecomedation {
    min-height: calc(100vh - 108px);
    border: 1px solid $grey-bg;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .wrapperRecomedation {
    width: 100vw;
    height: calc(100vh - 126px);
    padding: 40px 20px;
    overflow-y: scroll;
  }
}
