//color
$white: #ffffff;
$grey: #ededed;
$grey-bg: #3c474c;
$grey-bg2: #f7f7f7;
$black: #000000;
$black-2: #121313;
$yellow: #f3ce00;
$bg-test: #ffecb2;
$blue: #005de9;
$blue-link: #2aaaec;
$broun-link: #8d7920;
//screen
$mobile: 576px;
$desktop: 1200px;

//animation
$transition: all 0.5s ease;
